<div class="container mt-4">
  <h1>Home Page</h1>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Articles Listing', articles_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'About Page', about_path, class: 'nav-link' %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to 'Sign Up', signup_path, class: 'btn btn-primary' %>
        </li>
      </ul>
    </div>
  </nav>

</div>